<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="javascripts/jquery.min.js"></script>



</head>

<body>

  {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}



  {{#if successMessage}}
  {{successMessage}}
  {{/if}}


  <nav class="mainNav">
    {{#if currentUser}}
    <span>
      <h3 class="theUser">{{currentUser.username}}</h3>
    </span>
    <form action="/logout" method="POST">
      <button>Log out</button>
    </form>
    <a href="/friendlist">See All Friends</a>
    <a href="/searchUser">Add Friends</a>
    <a href="/lobby/{{currentUser._id}}">User Lobby</a>
    <a href="/allchats"> Your Lobbies</a>

    {{else}}

    <a href="Signup">Sign up</a>
    <a href="Login">Login</a>
    <a href="/auth/slack">Login With Slack</a>
    <a href="/auth/github"> Login with Github</a>


    {{/if}}

    {{{body}}}



</body>




</html>