<!DOCTYPE html>
<html lang="en">

<head id="chatRoomHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <meta http-equiv="refresh" content="10; url=/userChats/{{lobby._id}}"> --}}

    <title>Codey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/chatroom.css">
    <link rel="stylesheet" href="/stylesheets/compiler.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="/javascripts/jquery.min.js"></script>
</head>

<body>
<div class="chatTitle">
    <div>
        <p style="visibility: hidden;" class="chatroomID">{{lobby._id}}</p>
    </div>

    <div>
    <h2>{{lobby.name}}</h2>
    </div>

       <div class="exiChatBtn"> <a href="/">EXIT</a></div>
</div>

<div class="chatCodeRoom">
    <div class="ListUsers">
        Users:
        <ul>
        <li>{{lobby.creator}}</li>
        {{#each lobby.friends}}
<li>{{this}}</li>
        {{/each}}
           </ul>
    </div>

    <div class="window">
        <div class="top_menu">
            {{!-- <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div> --}}
        </div>
        <ul id="messages" class="messages">

        </ul>

        <div class="senderMessage">
            <i id="typing"></i>
            <form id="sendForm">
                <span class="message_input_wrapper">
                    <input id="message" class="message_input" placeholder="Type your message here..." />
                </span>
                <button class="send_message">
                    Send
                </button>
            </form>
        </div>
        <div>
            {{#if currentUser}}
            <div style="visibility: hidden;" class="theUser">{{currentUser.username}}</div>
            {{/if}}
        </div>
    </div>


    <div class="editor">
        {{!-- <textarea id="html" placeholder="HTML"></textarea>
    <textarea id="css" placeholder="CSS"></textarea> --}}
    <div>
 <textarea name="code" id="js" placeholder="JavaScript"></textarea>
    </div>
    <div class="theRunButton">
         <button id="runButton">RUN CODE</button>
    </div>
       

    </div>

</div>
<div id="compilerText" class="style-1">RESULT</div>


<script src="/javascripts/compiler.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/code.js"></script>

</body>

</html>

















{{!-- <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/chatroom.css">
<script src="/javascripts/jquery.min.js"></script>


<p style="visibility: hidden;" class="chatroomID">{{_id}}</p>

<div class="window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">{{name}}</div>
    </div>
    <ul id="messages" class="messages">

    </ul>

    <div class="bottom_wrapper clearfix">
        <i id="typing"></i>
        <form id="sendForm">
            <div class="message_input_wrapper">
                <input id="message" class="message_input" placeholder="Type your message here..." />
            </div>
            <button class="send_message">
                Send
            </button>
        </form>
    </div>
    <div>
        {{#if currentUser}}
        <div class="theUser">{{currentUser.username}}</div>
        {{/if}}
    </div>
</div>


<div>
</div>



<div class="editor">
    <textarea name="code" id="js" placeholder="JavaScript"></textarea>
    <button id="runButton">RUN CODE</button>



    <div id="compilerText"></div>

</div> --}}
{{!-- 
<a href="/">EXIT</a>
<script src="/javascripts/compiler.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/code.js"></script> --}}

















{{!-- <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/chatroom.css">
<script src="/javascripts/jquery.min.js"></script>


<p style="visibility: hidden;" class="chatroomID">{{_id}}</p>

<div class="window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">{{name}}</div>
    </div>
    <ul id="messages" class="messages">

    </ul>

    <div class="bottom_wrapper clearfix">
        <i id="typing"></i>
        <form id="sendForm">
            <div class="message_input_wrapper">
                <input id="message" class="message_input" placeholder="Type your message here..." />
            </div>
            <button class="send_message">
                Send
            </button>
        </form>
    </div>
    <div>
        {{#if currentUser}}
        <div class="theUser">{{currentUser.username}}</div>
        {{/if}}
    </div>
</div>


<div>
</div>



<div class="editor">
    <textarea name="code" id="js" placeholder="JavaScript"></textarea>
    <button id="runButton">RUN CODE</button>



    <div id="compilerText"></div>

</div> --}}
{{!-- 
<a href="/">EXIT</a>
<script src="/javascripts/compiler.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/code.js"></script> --}}